In [12]:
"""
1. 파일명 : data_type_example.ipynb
2. 개요: 파이썬의 기본 데이터 타입과 관련 기능, 예시 정리
3. 작성자 : adam9e96
4. 업데이트: 2024-10-22
"""

'\n1. 파일명 : data_type_example.ipynb\n2. 개요: 파이썬의 기본 데이터 타입과 관련 기능, 예시 정리\n3. 작성자 : adam9e96\n4. 업데이트: 2024-10-22\n'

# 기본 데이터 타입
1. 정수(int): 숫자 데이터 유형 중 하나로, 소수점이 없는 숫자를 나타냅니다. 예를 들어, age = 25에서 25는 정수이다.
2. 실수(float): 소수점을 포함하는 숫자를 나타냅니다. 예를 들어, height = 168.5에서 168.5는 실수이다.
3. 논리(bool): 참(True) 또는 거짓(False)의 두 가지 값만 가질 수 있는 데이터 유형이다.
4. 문자열(str): 텍스트 데이터를 나타내며, 작은따옴표(') 또는 큰따옴표(")로 둘러쌉니다. 여러 줄의 문자열을 저장할 때는 삼중 따옴표(''' 또는 """)를 사용합니다.

핵심
- 파이썬의 기본 데이터 타입 4 가지 : 정수, 실수, 불, 문자열
- 파이썬의 컬렉션 데이터 타입 4가지 : list, tuple, set, dict
 - 파이썬에 컬렉션은 기본 데이터 타입처럼 사용합니다.

>파이썬은 8가지 데이터 타입만 외우면 된다.

## 파이썬의 기본 데이터 타입
### 1. **정수(int)**: 소수점이 없는 숫자, 예: `age = 25`
### 2. **실수(float)**: 소수점을 포함하는 숫자, 예: `height = 168.5`
### 3. **논리(bool)**: 참(`True`) 또는 거짓(`False`)만 가질 수 있는 데이터 유형
### 4. **문자열(str)**: 텍스트 데이터를 나타내며 작은따옴표('')나 큰따옴표("")로 감쌈

### 1. 문자열(str), 정수(int), 실수(float), None 사용 예시

In [13]:
name = 'Alice'  # 단일 줄 문자열 저장
age = 25  # 정수를 저장
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''  # 여러 줄 문자열 저장
boyfriend = None  # 값이 없음을 나타내는 None (자바의 null과 유사)
height = 168.5  # 실수를 저장

# 변수 출력
print(name)
print(age)
print(address)
print(boyfriend)
print(height)

# 데이터 타입 확인
print(type(name))  # 출력: <class 'str'>
print(type(age))  # 출력: <class 'int'>
print(type(address))  # 출력: <class 'str'>
print(type(boyfriend))  # 출력: <class 'NoneType'>
print(type(height))  # 출력: <class 'float'>

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5
<class 'str'>
<class 'int'>
<class 'str'>
<class 'NoneType'>
<class 'float'>

### 2. 정수(int)
 - 정수(integer)는 소수점이 없는 숫자입니다.
 - `int()` 함수를 사용하여 다른 데이터 타입을 정수로 변환할 수 있습니다.

In [14]:
# 정수형 변환 예시
print(int(1.9))  # 1 / 소수점 이하를 제거하여 정수로 변환
print(int(True))  # 1 / True는 정수 1로 변환
print(int(False))  # 0 / False는 정수 0으로 변환
print(int('100'))  # 100 / 문자열 '100'을 정수로 변환

# 10진수를 2진수, 8진수, 16진수로 변환
n = 95
print(bin(n))  # 0b1011111 / 2진수로 변환
print(oct(n))  # 0o137 / 8진수로 변환
print(hex(n))  # 0x5f / 16진수로 변환

1
1
0
100
0b1011111
0o137
0x5f

### 3. 실수(float)
# - 소수점을 포함하는 숫자를 실수(floating point)라고 합니다.
# - `float()` 함수를 사용하여 다른 데이터 타입을 실수로 변환할 수 있습니다.

In [23]:
# 실수형 변환 예시
print(float(1))  # 1.0 / 정수 1을 실수로 변환
print(float(True))  # 1.0 / True는 1.0으로 변환
print(float('3.14'))  # 3.14 / 문자열 '3.14'를 실수로 변환

# 실수 연산의 부정확성
# 컴퓨터는 실수를 이진수로 표현하기 때문에 연산 결과가 부정확할 수 있습니다.
print(0.1 + 0.2)  # 0.30000000000000004
print(0.1 + 0.2 == 0.3)  # False
print(0.1 + 0.2 == 0.30000000000000004)

# 해결방법: 정수로 변환 후 연산하거나 반올림 사용

1.0
1.0
3.14
0.30000000000000004
False
True

### 4. 논리(bool)
# - 참(True) 또는 거짓(False)을 나타내는 데이터 타입입니다.
# - 조건문에서 주로 사용됩니다.

In [24]:
# 불 자료형의 참/거짓 평가
print(bool(0))  # False (0은 거짓)
print(bool(''))  # False (빈 문자열은 거짓)
print(bool([]))  # False (빈 리스트는 거짓)
print(bool(1))  # True (0이 아닌 숫자는 참)

print(3 > 4)  # False
print(3 < 4)  # True

False
False
False
True
False
True

### 5. 문자열 str

 - 문자열은 텍스트 데이터를 나타내며 작은따옴표('') 또는 큰따옴표("")로 감싸서 표현합니다.
 - 문자열을 한 글자이거나 여러 글자여도 작은 따옴표(')와 큰 따옴표(")를 모두 사용할 수 있음
 - 여러 줄 문자열은 삼중 따옴표(''' ''', """ """)를 사용합니다.
    - single line : 한 줄의 문자열 : 작은 따옴표(')와 큰 따옴표(")
    - mulitple line : 여러 줄의 문자열 : 삼중 따옴표(''' ''', """ """)

In [18]:
# 문자열 변환
# str() 함수를 사용하면 다른 자료형의 값을 문자열 데이터로 변환 할 수 있음
print(str(100))  # '100' / 정수 100을 문자열 '100'으로 변환
print(str(True))  # 'True' / 논리 True 를 문자열 'True'로 변환
print(str(False))  # 'False' / 논리 False 를 문자열 'False' 로 변환
print(type(str(3.14)))  # <class 'str'> '3.14' / 실수 3.14 를 문자열 '3.14' 로 변환

# 문자열 길이
a = "Life is too short"
print(type(a))  # <class 'str'>
print(len(a))  # 17  # 문자열 길이 구하기 : len 함수 | 파이썬의 내장 함수
# 길이계산에는 공백도 포함된다.

# 문자열 인덱싱 indexing
# 0번 부터 시작
# 한 글자씩 뽑아낼 때 사용
s = 'hello'
print(s[1])  # e

# 마이너스(-)인덱스는 문자열 뒤에서 부터 부여, 마지막 인덱스는 -1이 됨 #0은 사용하고 있으니 -1부터 시작함
print(s[-1])  # o # 뒤에서 세어 첫 번째가 되는 문자.
print(s[-4])  # e
print(s[-0])  # h
print(s[0])  # h

print(s[0] == s[-0])  # True # 0과 -0은 같다.
print(s[1] == s[-4])  # True
print(s[4] == s[-1])  # 뒤에서 부터 셀때는 -1부터 시작하므로 같다.
print(s[-5] == s[0])  # True
# 주의 : 파이썬은 0 부터 숫자를 센다

100
True
False
<class 'str'>
<class 'str'>
17
e
o
e
h
h
True
True
True
True

In [19]:
# 문자열 슬라이싱 slicing
# 문자열 인덱스를 활용하여 한 문자 이상으로 구성된 단어나 문장을 추출할 때 사용
"""
s[start:stop:step]
# start : 시작 인덱스를 지정. 생략하면 처음부터 추출
# stop : 종료 인덱스를 지정. 생략하면 끝까지 추출
# step : 인덱스의 증감값, 생략하면 1씩 변화
"""

s = 'banana'
print(s[0:3])  # 출력 : ban
print(s[0:6:2])  # 출력 : bnn

# 파이썬 인덱스 특징
# 종료 인덱스 앞에서 끝남.
print(s[:6:2])  # bnn
print(s[::])  # banana
print(s[2::2])  # nn

s2 = 'hello world'
print(s2[:])

s3 = 'Life is too short, You need Python'
print(s3[:3])
# 수식으로 나타내면
# 0 <= s3 <= 3
# 이 수식을 만족하는 것은 s3[0], s3[1], s3[2]

print(s3[-3:])  # hon
print(s3[19:])  # 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아준다.
print(s3[:])  # 시작 번호와 끝 번호 둘다 생략하면 문자열의 처음부터 끝까지 뽑아낸다.
print(s3[19:-7])  # You need | a[19] 에서 a[-8] 까지를 의미.


# 인덱싱과 슬라이싱 개념

ban
bnn
bnn
banana
nn
hello world
Lif
hon
You need Python
Life is too short, You need Python
You need


---
### 1. **인덱싱(Indexing)**
   - 인덱싱은 시퀀스 자료형에서 **특정 위치에 있는 요소를 가져오는** 방법이야.
   - 인덱스는 **0**부터 시작해, 양수와 음수 모두 사용 가능해.
     - 양수 인덱스는 앞에서부터(왼쪽에서 오른쪽) 위치를 지정.
     - 음수 인덱스는 뒤에서부터(오른쪽에서 왼쪽) 위치를 지정.

#### 인덱싱 예시:
```python
# 문자열 예시
s = 'Python'
print(s[0])  # 'P' / 0번 인덱스의 문자
print(s[2])  # 't' / 2번 인덱스의 문자
print(s[-1])  # 'n' / -1번 인덱스의 문자 (뒤에서 첫 번째)
print(s[-2])  # 'o' / -2번 인덱스의 문자 (뒤에서 두 번째)

# 리스트 예시
li = [10, 20, 30, 40, 50]
print(li[0])  # 10 / 첫 번째 요소
print(li[-1])  # 50 / 마지막 요소
print(li[2])  # 30 / 세 번째 요소
```

#### 특징:
   - **양수 인덱스**는 `0`부터 시작하며, `0`이 첫 번째 요소, `1`이 두 번째 요소를 의미해.
   - **음수 인덱스**는 `-1`부터 시작하며, `-1`이 마지막 요소, `-2`가 뒤에서 두 번째 요소를 의미해.

---

### 2. **슬라이싱(Slicing)**
   - 슬라이싱은 시퀀스 자료형에서 **특정 범위를 잘라내서 부분 시퀀스를 가져오는** 방법이야.
   - 기본적으로 `[start:stop:step]` 형식을 사용해.
     - `start`: 시작 인덱스 (포함)
     - `stop`: 끝 인덱스 (포함하지 않음)
     - `step`: 인덱스의 증감값 (생략 시 1)

#### 슬라이싱 예시:
```python
# 문자열 예시
s = 'Python'
print(s[0:4])  # 'Pyth' / 0번 인덱스부터 4번 인덱스 전까지 (0, 1, 2, 3)
print(s[2:])  # 'thon' / 2번 인덱스부터 끝까지
print(s[:4])  # 'Pyth' / 처음부터 4번 인덱스 전까지
print(s[::2])  # 'Pto' / 처음부터 끝까지, 2씩 증가하며 추출

# 리스트 예시
li = [10, 20, 30, 40, 50]
print(li[1:4])  # [20, 30, 40] / 1번 인덱스부터 4번 인덱스 전까지
print(li[:3])  # [10, 20, 30] / 처음부터 3번 인덱스 전까지
print(li[2::2])  # [30, 50] / 2번 인덱스부터 끝까지, 2씩 증가
print(li[::-1])  # [50, 40, 30, 20, 10] / 리스트를 뒤집음 (step이 -1인 경우)
```

#### 특징:
   - **`start`**는 포함되지만, **`stop`**은 포함되지 않는다는 점에 주의해야 해.
   - **`step`** 값을 사용해, 데이터를 건너뛰면서 추출할 수 있어. (예: `::2`는 두 개씩 건너뛰며 추출)
   - **`start`**와 **`stop`**을 생략할 수 있어:
     - `s[:]`: 전체 시퀀스 반환 (처음부터 끝까지)
     - `s[2:]`: 2번 인덱스부터 끝까지
     - `s[:4]`: 처음부터 4번 인덱스 전까지

---

### 인덱싱과 슬라이싱의 차이:
- **인덱싱**은 **단일 요소**를 가져오고, **슬라이싱**은 **여러 요소의 범위**를 가져와.
- 인덱싱은 요소 하나를 가리키지만, 슬라이싱은 부분 문자열이나 리스트를 반환해.

#### 예시 비교:
```python
s = 'Python'
print(s[2])  # 't' (인덱싱: 2번 위치의 문자)
print(s[2:5])  # 'tho' (슬라이싱: 2번부터 5번 전까지의 문자들)
```

In [20]:
# 데이터 타입 복습 겸 문제 풀이
# 문제
student = '31025'
grade_no = student[0]
class_no = student[1:3]
# stu_no = student[3:] # stu_no = student[-2:] 도 가능
stu_no = student[-2:]  # stu_no = student[-2:] 도 가능

print(grade_no, '학년', class_no, '반', stu_no, '번')
# 3 학년 10 반 25 번

# 마이너스 인덱싱도 가능하다.
print(student[-3])

3 학년 10 반 25 번
0

In [21]:
# 문제 2
# 전체 차량번호에서 뒤에 숫자 4자리만 출력하는 프로그램을 구현하세요.
# 전체 차량번호는 '서울2가 1234', '10가 1234', '288가 1234'와 같이 다르지만, 모두 차량번호 4자리는 '1234'입니다.
# 실행 예)
# 서울2가 1234의 차량번호 4자리는 1234입니다.

car1 = '서울2가1234'
car2 = '10가1234'
car3 = '288가1234'

car_no1 = car1[-4:]
car_no2 = car2[-4:]
car_no3 = car3[-4:]
print(car1, '의 차량번호는 4자리는', car_no1, '입니다.')
print(car2, '의 차량번호는 4자리는', car_no2, '입니다.')
print(car3, '의 차량번호는 4자리는', car_no3, '입니다.')

서울2가1234 의 차량번호는 4자리는 1234 입니다.
10가1234 의 차량번호는 4자리는 1234 입니다.
288가1234 의 차량번호는 4자리는 1234 입니다.

In [22]:
# Pithon 문자열을 Python 으로 바꾸기
a = 'Pithon'
print(a[1])

a[1] = 'y'
# 이건 불가능하다
# 문자열을 변경 불가능한 immutable 자료형이라고 불린다.

i

TypeError: 'str' object does not support item assignment